<a href="https://colab.research.google.com/github/dodimarthen/ProjectWeather/blob/main/Weather_LearnHowToBeDataAnalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

df = pd.read_csv("/content/drive/My Drive/Data Analyst Learn/Weather Data.csv")
df.head(5)

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

In [ ]:
df

             Date/Time  Temp_C  ...  Press_kPa               Weather
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]

In [ ]:
df.head(10)

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog
5  1/1/2012 5:00    -1.4  ...     101.27                   Fog
6  1/1/2012 6:00    -1.5  ...     101.29                   Fog
7  1/1/2012 7:00    -1.4  ...     101.26                   Fog
8  1/1/2012 8:00    -1.4  ...     101.23                   Fog
9  1/1/2012 9:00    -1.3  ...     101.20                   Fog

[10 rows x 8 columns]

In [ ]:
df.index

RangeIndex(start=0, stop=8784, step=1)

In [ ]:
df.shape

(8784, 8)

In [ ]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [ ]:
df.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [ ]:
df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [ ]:
df.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [5]:
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [ ]:
df.value_counts()

Date/Time        Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa  Weather
9/9/2012 9:00     14.8    8.8              67         17               48.3           100.65     Mainly Clear    1
12/8/2012 6:00    2.4     0.3              86         9                25.0           101.05     Cloudy          1
12/9/2012 11:00  -1.7    -4.8              79         17               24.1           102.35     Cloudy          1
12/9/2012 10:00  -1.5    -4.5              80         20               24.1           102.35     Cloudy          1
12/9/2012 0:00    1.5     0.7              94         20               9.7            101.07     Fog             1
                                                                                                                ..
6/1/2012 15:00    19.8    4.9              38         17               48.3           101.16     Cloudy          1
6/1/2012 16:00    20.2    4.3              35         22               48.3           101.04     Cloudy          1
6/1/2012 17:00    20.2    4.1              35         19               48.3           101.03     Cloudy          1
6/1/2012 18:00    20.1    4.6              36         19               24.1           100.98     Cloudy          1
1/1/2012 0:00    -1.8    -3.9              86         4                8.0            101.24     Fog             1
Length: 8784, dtype: int64

In [ ]:
df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Freezing Fog                                  4
Snow Showers,Fog                              4
Rain,Snow,Ice Pellets                         4
Moderate Snow                                 4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms                                 2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Moderate Rain,Fog                             1
Drizzle,Ice Pellets,Fog                       1
Rain Showers,Fog                              1
Freezing Rain,Snow Grains                     1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Name: Weather, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

# **Question Number 1**

In [ ]:
df.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [ ]:
df['Wind Speed_km/h'].nunique()

34

In [ ]:
df['Wind Speed_km/h'].unique() #<---------- ANSWER ---------->

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

# **Question Number 2**

In [ ]:
#Value Counts
df.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Freezing Fog                                  4
Snow Showers,Fog                              4
Rain,Snow,Ice Pellets                         4
Moderate Snow                                 4
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms                                 2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Moderate Snow,Blowing Snow                    2
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Moderate Rain,Fog                             1
Drizzle,Ice Pellets,Fog                       1
Rain Showers,Fog                              1
Freezing Rain,Snow Grains                     1
Rain,Snow,Fog                                 1
Thunderstorms,Heavy Rain Showers              1
Name: Weather, dtype: int64

In [ ]:
df[df.Weather == 'Clear']

             Date/Time  Temp_C  ...  Press_kPa  Weather
67      1/3/2012 19:00   -16.9  ...     101.74    Clear
114     1/5/2012 18:00    -7.1  ...     100.71    Clear
115     1/5/2012 19:00    -9.2  ...     100.80    Clear
116     1/5/2012 20:00    -9.8  ...     100.83    Clear
117     1/5/2012 21:00    -9.0  ...     100.83    Clear
...                ...     ...  ...        ...      ...
8646   12/26/2012 6:00   -13.4  ...     102.47    Clear
8698  12/28/2012 10:00    -6.1  ...     101.27    Clear
8713   12/29/2012 1:00   -11.9  ...     101.31    Clear
8714   12/29/2012 2:00   -11.8  ...     101.33    Clear
8756  12/30/2012 20:00   -13.8  ...     101.52    Clear

[1326 rows x 8 columns]

In [ ]:
df.groupby('Weather').get_group('Clear')

             Date/Time  Temp_C  ...  Press_kPa  Weather
67      1/3/2012 19:00   -16.9  ...     101.74    Clear
114     1/5/2012 18:00    -7.1  ...     100.71    Clear
115     1/5/2012 19:00    -9.2  ...     100.80    Clear
116     1/5/2012 20:00    -9.8  ...     100.83    Clear
117     1/5/2012 21:00    -9.0  ...     100.83    Clear
...                ...     ...  ...        ...      ...
8646   12/26/2012 6:00   -13.4  ...     102.47    Clear
8698  12/28/2012 10:00    -6.1  ...     101.27    Clear
8713   12/29/2012 1:00   -11.9  ...     101.31    Clear
8714   12/29/2012 2:00   -11.8  ...     101.33    Clear
8756  12/30/2012 20:00   -13.8  ...     101.52    Clear

[1326 rows x 8 columns]

# **Question Number 3**

In [ ]:
df[df['Wind Speed_km/h'] == 4]

             Date/Time  Temp_C  ...  Press_kPa       Weather
0        1/1/2012 0:00    -1.8  ...     101.24           Fog
1        1/1/2012 1:00    -1.8  ...     101.24           Fog
96       1/5/2012 0:00    -8.8  ...     100.32          Snow
101      1/5/2012 5:00    -7.0  ...     100.19          Snow
146      1/7/2012 2:00    -8.1  ...     100.15        Cloudy
...                ...     ...  ...        ...           ...
8768   12/31/2012 8:00    -8.6  ...     101.14  Snow Showers
8769   12/31/2012 9:00    -8.1  ...     101.09          Snow
8770  12/31/2012 10:00    -7.4  ...     101.05      Snow,Fog
8772  12/31/2012 12:00    -5.8  ...     100.78          Snow
8773  12/31/2012 13:00    -4.6  ...     100.63          Snow

[474 rows x 8 columns]

# **Question Number 4**

In [ ]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [ ]:
df.notnull().sum()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

# **Question Number 5**

In [18]:
df.rename(columns = {'Weather' : 'Weather Condition'})

             Date/Time  Temp_C  ...  Press_kPa     Weather Condition
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]

# **Question Number 6**

In [ ]:
df.Visibility_km.mean()

27.66444672131151

# **Question Number 7**

In [7]:
df.Press_kPa.std()

0.8440047459486474

# **Question Number 8**

In [8]:
df['Rel Hum_%'].var()

286.2485501984998

# **Question Number 9**

In [13]:
#ValueCounts
#df.head(2)
df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Snow Showers,Fog                              4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Moderate Snow,Blowing Snow                    2
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Freezing Rain,Haze                            2
Drizzle,Ice Pellets,Fog                       1
Rain,Snow Grains                              1
Freezing Rain,Snow Grains                     1
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Rain Showers,Fog                              1
Name: Weather, dtype: int64

In [21]:
#FilteringSnow
df[df['Weather'] == 'Snow' ]

             Date/Time  Temp_C  ...  Press_kPa  Weather
55       1/3/2012 7:00   -14.0  ...     100.95     Snow
84      1/4/2012 12:00   -13.7  ...     101.25     Snow
86      1/4/2012 14:00   -11.3  ...     100.97     Snow
87      1/4/2012 15:00   -10.2  ...     100.89     Snow
88      1/4/2012 16:00    -9.4  ...     100.79     Snow
...                ...     ...  ...        ...      ...
8779  12/31/2012 19:00     0.1  ...     100.13     Snow
8780  12/31/2012 20:00     0.2  ...     100.03     Snow
8781  12/31/2012 21:00    -0.5  ...      99.95     Snow
8782  12/31/2012 22:00    -0.2  ...      99.91     Snow
8783  12/31/2012 23:00     0.0  ...      99.89     Snow

[390 rows x 8 columns]

In [23]:
df[df['Weather'].str.contains('Snow')]

             Date/Time  Temp_C  ...  Press_kPa       Weather
41      1/2/2012 17:00    -2.1  ...      99.66  Snow Showers
44      1/2/2012 20:00    -5.6  ...     100.07  Snow Showers
45      1/2/2012 21:00    -5.8  ...     100.15  Snow Showers
47      1/2/2012 23:00    -7.4  ...     100.27  Snow Showers
48       1/3/2012 0:00    -9.0  ...     100.35  Snow Showers
...                ...     ...  ...        ...           ...
8779  12/31/2012 19:00     0.1  ...     100.13          Snow
8780  12/31/2012 20:00     0.2  ...     100.03          Snow
8781  12/31/2012 21:00    -0.5  ...      99.95          Snow
8782  12/31/2012 22:00    -0.2  ...      99.91          Snow
8783  12/31/2012 23:00     0.0  ...      99.89          Snow

[583 rows x 8 columns]

# **Question number 10**

In [27]:
df[(df['Wind Speed_km/h'] > 24 ) & (df['Visibility_km'] == 25)]

             Date/Time  Temp_C  ...  Press_kPa        Weather
23      1/1/2012 23:00     5.3  ...      99.31         Cloudy
24       1/2/2012 0:00     5.2  ...      99.26   Rain Showers
25       1/2/2012 1:00     4.6  ...      99.26         Cloudy
26       1/2/2012 2:00     3.9  ...      99.26  Mostly Cloudy
27       1/2/2012 3:00     3.7  ...      99.30  Mostly Cloudy
...                ...     ...  ...        ...            ...
8705  12/28/2012 17:00    -8.6  ...     101.34   Mainly Clear
8753  12/30/2012 17:00   -12.1  ...     101.26   Mainly Clear
8755  12/30/2012 19:00   -13.4  ...     101.47   Mainly Clear
8759  12/30/2012 23:00   -12.1  ...     101.52  Mostly Cloudy
8760   12/31/2012 0:00   -11.1  ...     101.51         Cloudy

[308 rows x 8 columns]

# **Question Number 11**

In [29]:
df.groupby('Weather').mean()

                                            Temp_C  ...   Press_kPa
Weather                                             ...
Clear                                     6.825716  ...  101.587443
Cloudy                                    7.970544  ...  100.911441
Drizzle                                   7.353659  ...  100.435366
Drizzle,Fog                               8.067500  ...  100.786625
Drizzle,Ice Pellets,Fog                   0.400000  ...  100.790000
Drizzle,Snow                              1.050000  ...  100.890000
Drizzle,Snow,Fog                          0.693333  ...   99.281333
Fog                                       4.303333  ...  101.184067
Freezing Drizzle                         -5.657143  ...  100.202857
Freezing Drizzle,Fog                     -2.533333  ...  100.441667
Freezing Drizzle,Haze                    -5.433333  ...  100.316667
Freezing Drizzle,Snow                    -5.109091  ...  100.520909
Freezing Fog                             -7.575000  ...  102.320000
Freezing Rain                            -3.885714  ...   99.647143
Freezing Rain,Fog                        -2.225000  ...   99.945000
Freezing Rain,Haze                       -4.900000  ...  100.375000
Freezing Rain,Ice Pellets,Fog            -2.600000  ...  100.950000
Freezing Rain,Snow Grains                -5.000000  ...   98.560000
Haze                                     -0.200000  ...  101.482500
Mainly Clear                             12.558927  ...  101.248832
Moderate Rain,Fog                         1.700000  ...   99.980000
Moderate Snow                            -5.525000  ...  100.275000
Moderate Snow,Blowing Snow               -5.450000  ...  100.570000
Mostly Cloudy                            10.574287  ...  101.025288
Rain                                      9.786275  ...  100.233333
Rain Showers                             13.722340  ...  100.404043
Rain Showers,Fog                         12.800000  ...   99.830000
Rain Showers,Snow Showers                 2.150000  ...  101.100000
Rain,Fog                                  8.273276  ...  100.500862
Rain,Haze                                 4.633333  ...  100.540000
Rain,Ice Pellets                          0.600000  ...  100.120000
Rain,Snow                                 1.055556  ...   99.951111
Rain,Snow Grains                          1.900000  ...  100.600000
Rain,Snow,Fog                             0.800000  ...  100.730000
Rain,Snow,Ice Pellets                     1.100000  ...  100.105000
Snow                                     -4.524103  ...  100.536103
Snow Pellets                              0.700000  ...   99.700000
Snow Showers                             -3.506667  ...  100.963500
Snow Showers,Fog                        -10.675000  ...  101.292500
Snow,Blowing Snow                        -5.410526  ...   99.704737
Snow,Fog                                 -5.075676  ...  100.688649
Snow,Haze                                -4.020000  ...  100.782000
Snow,Ice Pellets                         -1.883333  ...  100.548333
Thunderstorms                            24.150000  ...  100.230000
Thunderstorms,Heavy Rain Showers         10.900000  ...  100.260000
Thunderstorms,Moderate Rain Showers,Fog  19.600000  ...  100.010000
Thunderstorms,Rain                       20.433333  ...  100.420000
Thunderstorms,Rain Showers               20.037500  ...  100.233750
Thunderstorms,Rain Showers,Fog           21.600000  ...  100.063333
Thunderstorms,Rain,Fog                   20.600000  ...  100.080000

[50 rows x 6 columns]

# **Question Number 12**

In [30]:
df.groupby('Weather').max()

                                                Date/Time  ...  Press_kPa
Weather                                                    ...
Clear                                       9/9/2012 5:00  ...     103.63
Cloudy                                     9/9/2012 23:00  ...     103.65
Drizzle                                    9/30/2012 3:00  ...     101.56
Drizzle,Fog                                9/30/2012 2:00  ...     102.07
Drizzle,Ice Pellets,Fog                   12/17/2012 9:00  ...     100.79
Drizzle,Snow                             12/19/2012 18:00  ...     101.15
Drizzle,Snow,Fog                          12/22/2012 3:00  ...     100.15
Fog                                        9/22/2012 0:00  ...     103.04
Freezing Drizzle                            2/1/2012 5:00  ...     101.02
Freezing Drizzle,Fog                      12/10/2012 5:00  ...     101.27
Freezing Drizzle,Haze                      2/1/2012 13:00  ...     100.36
Freezing Drizzle,Snow                      3/2/2012 12:00  ...     101.18
Freezing Fog                               3/17/2012 6:00  ...     102.85
Freezing Rain                               2/1/2012 7:00  ...     101.00
Freezing Rain,Fog                         12/17/2012 1:00  ...     101.01
Freezing Rain,Haze                         2/1/2012 15:00  ...     100.41
Freezing Rain,Ice Pellets,Fog             12/17/2012 3:00  ...     100.95
Freezing Rain,Snow Grains                  1/13/2012 9:00  ...      98.56
Haze                                      3/13/2012 23:00  ...     102.97
Mainly Clear                                9/9/2012 9:00  ...     103.59
Moderate Rain,Fog                         12/10/2012 8:00  ...      99.98
Moderate Snow                             12/27/2012 9:00  ...     100.67
Moderate Snow,Blowing Snow               12/27/2012 12:00  ...     100.64
Mostly Cloudy                               9/9/2012 2:00  ...     103.65
Rain                                        9/5/2012 2:00  ...     102.26
Rain Showers                               9/8/2012 16:00  ...     102.31
Rain Showers,Fog                          10/20/2012 3:00  ...      99.83
Rain Showers,Snow Showers                 12/5/2012 10:00  ...     101.11
Rain,Fog                                  9/30/2012 23:00  ...     101.77
Rain,Haze                                  3/13/2012 9:00  ...     100.61
Rain,Ice Pellets                          12/18/2012 5:00  ...     100.12
Rain,Snow                                  4/23/2012 3:00  ...     101.07
Rain,Snow Grains                          12/21/2012 0:00  ...     100.60
Rain,Snow,Fog                             12/8/2012 21:00  ...     100.73
Rain,Snow,Ice Pellets                     12/21/2012 5:00  ...     100.47
Snow                                       4/27/2012 9:00  ...     102.73
Snow Pellets                             11/24/2012 15:00  ...      99.70
Snow Showers                               3/4/2012 21:00  ...     102.50
Snow Showers,Fog                         12/29/2012 13:00  ...     102.52
Snow,Blowing Snow                          2/25/2012 9:00  ...     100.62
Snow,Fog                                  3/14/2012 19:00  ...     102.07
Snow,Haze                                  2/1/2012 21:00  ...     100.99
Snow,Ice Pellets                            3/3/2012 4:00  ...     100.96
Thunderstorms                              7/4/2012 16:00  ...     100.62
Thunderstorms,Heavy Rain Showers           5/29/2012 6:00  ...     100.26
Thunderstorms,Moderate Rain Showers,Fog    7/17/2012 6:00  ...     100.01
Thunderstorms,Rain                        7/23/2012 18:00  ...     100.83
Thunderstorms,Rain Showers                  9/8/2012 4:00  ...     101.06
Thunderstorms,Rain Showers,Fog            7/31/2012 20:00  ...     100.64
Thunderstorms,Rain,Fog                     7/17/2012 5:00  ...     100.08

[50 rows x 7 columns]

# **Question Number 13**

In [32]:
df[df['Weather'] == 'Fog' ]

             Date/Time  Temp_C  ...  Press_kPa  Weather
0        1/1/2012 0:00    -1.8  ...     101.24      Fog
1        1/1/2012 1:00    -1.8  ...     101.24      Fog
4        1/1/2012 4:00    -1.5  ...     101.23      Fog
5        1/1/2012 5:00    -1.4  ...     101.27      Fog
6        1/1/2012 6:00    -1.5  ...     101.29      Fog
...                ...     ...  ...        ...      ...
8716   12/29/2012 4:00   -16.0  ...     101.25      Fog
8717   12/29/2012 5:00   -14.8  ...     101.25      Fog
8718   12/29/2012 6:00   -13.8  ...     101.25      Fog
8719   12/29/2012 7:00   -14.8  ...     101.22      Fog
8722  12/29/2012 10:00   -12.0  ...     101.15      Fog

[150 rows x 8 columns]

# **Question Number 14**

In [42]:
df[(df['Weather'] == 'Clear') | (df['Visibility_km'] > 40)]

             Date/Time  Temp_C  ...  Press_kPa        Weather
67      1/3/2012 19:00   -16.9  ...     101.74          Clear
106     1/5/2012 10:00    -6.0  ...     100.45   Mainly Clear
107     1/5/2012 11:00    -5.6  ...     100.41   Mainly Clear
108     1/5/2012 12:00    -4.7  ...     100.38   Mainly Clear
109     1/5/2012 13:00    -4.4  ...     100.40   Mainly Clear
...                ...     ...  ...        ...            ...
8749  12/30/2012 13:00   -12.4  ...     100.92  Mostly Cloudy
8750  12/30/2012 14:00   -11.8  ...     100.96   Mainly Clear
8751  12/30/2012 15:00   -11.3  ...     101.05   Mainly Clear
8752  12/30/2012 16:00   -11.4  ...     101.15   Mainly Clear
8756  12/30/2012 20:00   -13.8  ...     101.52          Clear

[3027 rows x 8 columns]

# **Question Number 15**

In [43]:
df[(df['Weather'] == 'Clear') & (df['Rel Hum_%'] > 50)|(df['Visibility_km'] > 40)]

             Date/Time  Temp_C  ...  Press_kPa        Weather
106     1/5/2012 10:00    -6.0  ...     100.45   Mainly Clear
107     1/5/2012 11:00    -5.6  ...     100.41   Mainly Clear
108     1/5/2012 12:00    -4.7  ...     100.38   Mainly Clear
109     1/5/2012 13:00    -4.4  ...     100.40   Mainly Clear
110     1/5/2012 14:00    -5.1  ...     100.46   Mainly Clear
...                ...     ...  ...        ...            ...
8749  12/30/2012 13:00   -12.4  ...     100.92  Mostly Cloudy
8750  12/30/2012 14:00   -11.8  ...     100.96   Mainly Clear
8751  12/30/2012 15:00   -11.3  ...     101.05   Mainly Clear
8752  12/30/2012 16:00   -11.4  ...     101.15   Mainly Clear
8756  12/30/2012 20:00   -13.8  ...     101.52          Clear

[2921 rows x 8 columns]